<div class="user-wrapper">
    <mat-card class="mat-elevation-z0 box">
        <mat-card-header>
            <mat-card-title *ngIf="!userId" class="pb-5">User Add</mat-card-title>
            <mat-card-title *ngIf="userId" class="pb-5">User Update</mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="(f.form.valid)" #f="ngForm" novalidate>
            <div class="example-container">
                <mat-card-content>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>First Name </mat-label>
                            <input matInput placeholder="First Name" [(ngModel)]="userModel.firstName" name="firstName"
                                id="firstName" #firstName="ngModel" required>
                            <mat-error *ngIf="f.submitted && f.hasError('required', 'firstName')">
                                <span>
                                    FirstName is Required
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Last Name </mat-label>
                            <input matInput placeholder="Last Name" [(ngModel)]="userModel.lastName" name="lastName" id="lastName"
                                #lastName="ngModel" required>
                            <mat-error *ngIf="f.submitted && f.hasError('required', 'lastName')">
                                <span>
                                    LastName is Required
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Username </mat-label>
                            <input matInput placeholder="Username" [(ngModel)]="userModel.username" name="username" id="username"
                                #username="ngModel" required>
                            <mat-error *ngIf="f.submitted && f.hasError('required', 'username')">
                                <span>
                                    Username is Required
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Password </mat-label>
                            <input matInput placeholder="Password" type="password" [(ngModel)]="userModel.password"
                                name="password" id="password" #password="ngModel" required
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                            <mat-error *ngIf="f.submitted && f.hasError('required', 'password')">
                                <span class="pb-5">
                                    Password is Required
                                </span>
                            </mat-error>
                            <mat-error *ngIf="f.submitted && f.hasError('pattern', 'password')">
                                <span class="pb-5">
                                    Password must contain Minimum eight characters, at least one uppercase letter, one lowercase
                                    letter, one number and one special character
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                </mat-card-content>

                <div>
                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile>
                            <button *ngIf="!userId" mat-stroked-button color="accent" (click)="add(f)" class="btn-block">Add</button>
                            <button *ngIf="userId" mat-stroked-button color="accent" (click)="update(f)" class="btn-block">Update</button>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <button mat-stroked-button color="accent" routerLink="/user"  class="btn-block">Cancel</button>
                        </mat-grid-tile>
                      </mat-grid-list>
                    
                    
                    
                </div>
            </div>
            
    
        </form>
    </mat-card>
</div>
