<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="pb-5">Log in</mat-card-title>
    </mat-card-header>
    <form
      class="example-form"
      (ngSubmit)="(f.form.valid)"
      #f="ngForm"
      novalidate
    >
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username </mat-label>
          <input
            matInput
            placeholder="Username"
            [(ngModel)]="loginModel.username"
            name="username"
            id="username"
            #username="ngModel"
            required
          />
          <mat-error *ngIf="f.submitted && f.hasError('required', 'username')">
            <span> Username is Required </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password </mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            [(ngModel)]="loginModel.password"
            name="password"
            id="password"
            #password="ngModel"
            required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          />
          <mat-error *ngIf="f.submitted && f.hasError('required', 'password')">
            <span class="pb-5"> Password is Required </span>
          </mat-error>
          <mat-error *ngIf="f.submitted && f.hasError('pattern', 'password')">
            <span class="pb-5">
              Password must contain Minimum eight characters, at least one
              uppercase letter, one lowercase letter, one number and one special
              character
            </span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="pt-3">
        <button
          mat-stroked-button
          color="accent"
          (click)="login(f)"
          class="btn-block"
        >
          Log in
        </button>
        <div class="pt-3">
          <a routerLink="/signup"> Create a new Account </a>
        </div>
      </div>
    </form>
  </mat-card>
</div>
