/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/utils/variable.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.pt-3 {
  padding-top: 3%;
}
.pb-5 {
  padding-bottom: 5%;
}
.sb-success {
  background-color: var(--color-success);
  color: var(--color-white);
  width: 100vw !important;
}
.sb-error {
  background-color: var(--color-error);
  color: var(--color-white);
}
